extends layout

block content
    .wrapper    
        aside.left-panel#left-panel
            nav.navbar.navbar-expend-sm.navbar-default
                .navbar-header
                    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#main-menu' aria-controls='main-menu' aria-expanded='false' aria-label='Toggle navigation')
                        i.fa.fa-bars
                    #navbarSupportedContent.collapse.navbar-collapse
                    a.nav-brand(href='#') INX
                    a.nav-brand.hidden(href='#' ) test
                #main-menu.main-menu.collapse.navbar-collapse.show
                    ul.nav.navbar-nav
                        h3.menu-title UI Element
                        li.menu-item-has.children.dropdown
                            a.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='false' aria-expanded='false')
                                i.menu-icon.fa.fa-laptop Components

                    



