extends layout.pug

block content
    script(src='/javascripts/index.js')
    
    svg(width="960" height="500")

        each item in tag["recordset"]
            p=item["TagID"]
    include mapbg.pug

    