.navbar.navbar-header.navbar-brand.hidden {
    display: none; 
}
body.open .navbar .navbar-brand.hidden {
    display: block; }

aside.left-panel {
    background: #272c33;
    display: table-cell;
    height: 100vh;
    min-height: 100%;
    padding: 0 25px;
    vertical-align: top;
    width: 280px;
    -webkit-transition:width 0.3s ease;
    transition: width 0.3s ease; }